@import url('https://fonts.googleapis.com/css?family=Abel|Courier+Prime|Inria+Serif|Lato|Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Amita|Beth+Ellen|Cinzel+Decorative|Cookie|Faster+One|Kristi|Meddon|Oregano|Over+the+Rainbow|Satisfy|Sedgwick+Ave|Vampiro+One&display=swap');
/*
font-family: 'Abel', sans-serif;
font-family: 'Courier Prime', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Inria Serif', serif;
font-family: 'Open Sans Condensed', sans-serif;
*/
/*
font-family: 'Satisfy', cursive; x
font-family: 'Cookie', cursive;
font-family: 'Allura', cursive; x
font-family: 'Alex Brush', cursive;
font-family: 'Kristi', cursive;
font-family: 'Faster One', cursive;
font-family: 'Oregano', cursive;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Amita', cursive;
font-family: 'Meddon', cursive; X
font-family: 'Vampiro One', cursive;
font-family: 'Beth Ellen', cursive;
font-family: 'Over the Rainbow', cursive; x
font-family: 'Cinzel Decorative', cursive;
*/

/* red
    #b04945;
    #8b3b3a;
    
    blue
    #2e3c5f
    
    orange
    #f5a989
    
    green
    #8fc06c 
*/
html {
    background-image: url("../img/worldmap.jpg");
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Parallax Scrolling Effect */
    background-attachment: fixed;
}

body {
    font-family: 'Satisfy', sans-serif;
    color: black;
}

h1 {
    font-family:'Cinzel Decorative', sans-serif;
    color: black;
    font-weight: bold;
}

.button {
    font-family: 'Satisfy';
    background: rgba(0,0,0,0.2);
    border-color: transparent;
    color: black;
}

#logo {
    padding:0px;
    margin:0px;
    width: 150px;
    height: 50px;

}

textarea,
input[type="text"] {
    font-family: 'Abel';
    background: rgba(0,0,0,0.2);
    border-color: transparent;
    outline-color: rgba(0,0,0,0.3);
    color: black;
}
input[name] {
    color: black;
}

input[type="text"]::placeholder { color: rgba(255, 255,255, 0.68); }
input[type="button"]:hover { background-color: rgba(0,0,0,0.65);}
input[type="button"]:focus { outline-color: rgba(0,0,0,0.65); }
input[name="profit"] { background: rgba(0,0,0,0.15);}

hr {
    border-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.15); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

::-webkit-resizer {
   display: none;
}