<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ArcheAge : Unchained</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
<!--     <img id="logo" src="../static/img/aau-logo.PNG" > -->
    <h1>Calculator </h1>
    <div>
        <!-- Item -->
        <label for="item">&nbsp;</label>
        <input type="text" id="item" name="item" placeholder="Item">
        <span></span><br><br>
        
        <!-- Currency -->
        <label for="gold">&nbsp;</label>
        <input type="text" class="currency" id="gold" name="currency" placeholder="Gold"> g
        <label for="silver">&nbsp;</label>
        <input type="text" class="currency" id="silver" name="currency" placeholder="Silver"> s
        <label for="copper">&nbsp;</label>
        <input type="text" class="currency" id="copper" name="currency" placeholder="Copper"> c
        <span></span><br><br>
        
        <!-- Item Quantity -->
        <label for="quantity">&nbsp;</label>
        <input type="text" id="quantity" name="quantity" placeholder="Quantity">
        <span></span><br><br>
        
        <!-- Total Profit -->
        <label for="profit">&nbsp; Total =  </label>
          <input type="text"  id="profitg" name="profit" disabled> g
          <input type="text"  id="profits" name="profit" disabled> s
          <input type="text" id="profitc" name="profit" disabled> c
          <span></span><br><br>

        <!-- Buttons -->
        <label>&nbsp;</label>
          <input type="button" class="button" id="clear" name="clear" value="Clear">
          <input type="button" class="button" id="profit_list" name="profit_list" value="Add to Tracker">
          <input type="button" class="button" id="calculate" name="calculate" value="Calculate">

    </div>

    <h2>Profit Tracker</h2>
    <p>&nbsp;<textarea id="tracker_total" rows="5" cols="20"></textarea></p>
    <div>
        <label>&nbsp;Daily Profit:</label> 
        <input type="text" name="daily_profit" disabled><br>
        <span></span><br>

        <label>&nbsp;</label>
        <input type="button" class="button" id="clear_button" value="Clear"><br>
    </div>
    <script src="../static/js/calculator.js"></script>
</body>
</html>