<!DOCTYPE html>
<html>
<head>
    <title>Profit Calculator</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <main>
    <h1> Profit Calculator </h1>

    <form id="profit_calculator" name="profit_calculator" action="#" method="get">
        <!-- Item -->
        <label for="item">&nbsp;</label>
            <input type="text" id="item" name="item" placeholder="Item"><br>
            <br>

        <!-- Currency -->
        <label for="gold">&nbsp;</label>
            <input type="text" id="gold" name="currency">g
        <label for="silver">&nbsp;</label>
            <input type="text" id="silver" name="currency">s
        <label for="copper">&nbsp;</label>
            <input type="text" id="copper" name="currency">c &nbsp; ×

        <!-- Item Quantity -->
        <label for="quantity">&nbsp;</label>
            <input type="text" id="quantity" name="quantity" 
                   placeholder="Quantity">&nbsp; = &nbsp;

        <!-- Total Profit -->
        <label for="profit"></label>
            <input type="text" id="profit" name="profit" 
                   placeholder="Total" disabled><br>
            <br>

        <!-- Buttons -->
        <label>&nbsp;</label>
            <input type="button" id="calculate" name="calculate" value="Calculate">
            <input type="button" id="clear" name="clear" value="Clear">
    </form>
    </main>
    <script src="../static/js/calculator.js"></script>
</body>
</html>