<!DOCTYPE html>
<html>
<head>
    <title>Profit Calculator</title>
</head>
<body>
    <form id="profit_calculator" name="profit_calculator" action="#" method="get">
        <label for="item"></label>
            <input type="text" id="item" name="item" placeholder="Item"><br>
            <br>

        <label for="gold"></label>
            <input type="text" id="gold" name="currency">g
        <label for="silver"></label>
            <input type="text" id="silver" name="currency">s
        <label for="copper"></label>
            <input type="text" id="copper" name="currency">c ×

        <label for="quantity"></label>
            <input type="text" id="quantity" name="quantity" placeholder="quantity"> =

        <label for="total_profit"></label>
            <input type="text" id="total_profit" name="total_profit" 
                   placeholder="total" disabled><br>
            <br>
    </form>
</body>
</html>